# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: 'ubuntu-16.04'

steps:
- task: Gradle@2
  inputs:
    workingDirectory: ''
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx3072m'
    publishJUnitResults: false
    testResultsFiles: '**/TEST-*.xml'
    tasks: 'assembleDebugAndroidTest'

- task: DownloadSecureFile@1
  inputs:
    secureFile: 'kitornot.keystore'

# SIGNING AND DEPLOYING STUFF? Not working yet - keystore file not working
# - task: AndroidSigning@2
#   inputs:
#     apkFiles: '**/*.apk'
#     jarsign: true
#     jarsignerKeystoreFile: '$(Agent.TempDirectory)/kitornot.keystore'
#     jarsignerKeystorePassword: '$(keystorePassword)'
#     jarsignerKeystoreAlias: '$(keystoreAlias)'
#     jarsignerKeyPassword: '$(keyPassword)'
#     zipalign: true

# - task: CopyFiles@2
#   inputs:
#     contents: '**/*.apk'
#     targetFolder: '$(build.artifactStagingDirectory)'
# - task: PublishBuildArtifacts@1