<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2015-present, Parse, LLC.
  ~ All rights reserved.
  ~
  ~ This source code is licensed under the BSD-style license found in the
  ~ LICENSE file in the root directory of this source tree. An additional grant
  ~ of patent rights can be found in the PATENTS file in the same directory.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parse.kit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.parse.kit.StarterApplication"
        android:allowBackup="true"
        android:icon="@drawable/loginicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/NoActionBar">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <activity
            android:name="com.parse.kit.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.parse.kit.UserHome.UserHomeActivity"
            android:label="@string/yourcats"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.parse.kit.UserHome.UserCatDetails"
            android:label="@string/title_activity_user_cat_details"
            android:parentActivityName="com.parse.kit.UserHome.UserHomeActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.parse.kit.UserHome.UserHomeActivity" />
        </activity>
        <activity
            android:name="com.parse.kit.RatingActivity.RatingActivity"
            android:label="@string/title_activity_rating"
            android:parentActivityName="com.parse.kit.UserHome.UserHomeActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.parse.kit.UserHome.UserHomeActivity" />
        </activity>
        <activity
            android:name="com.parse.kit.TopCats.TopCatsActivity"
            android:label="@string/title_activity_top_cats"
            android:parentActivityName="com.parse.kit.UserHome.UserHomeActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.parse.kit.UserHome.UserHomeActivity" />
        </activity>
        <activity
            android:name="com.parse.kit.TopCats.TopCatDetails"
            android:label="@string/title_activity_top_cat_details"
            android:parentActivityName="com.parse.kit.TopCats.TopCatsActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.parse.kit.TopCats.TopCatsActivity" />
        </activity>
    </application>

</manifest>